In [2]:
import pandas as pd

# Stand 20.01.2024

### Data
- annotated 1000 documents to get more valid results 
- also: in earlier batch, a lot of documents had similar if not same entities -> new batch from snapADDY

### Comparison of annotation 
- snapADDY made resource available for annotating 200 of these 1000 documents from another annotator
- I annotated the same 200 documents 
- comparison via jaccard similarity

In [12]:
path_results_comparison = "/home/teppi/projects/master/results/jaccard_similarity.json"

df_comparison = pd.read_json(path_results_comparison, orient="index")

df_comparison

                           0
Jaccard Similarity  0.797823

# Experiments

### Experiment1: detailed annotation 
- finegrained annotation was used at first to see what results can be achieved 
- as a reminder, these are the entities: 
    - general: DATE, HRA/HRB, DOCUMENT_NUMBER, LOCATION (if it is not clearly connected to one other entity)
    - regarding someone involved with the company: NAME, NAME_STREET, NAME_POSTAL_CODE, NAME_LOCATION, BIRTH_DATE
    - regarding the mentioned company: COMPANY, COMPANY_STREET, COMPANY_POSTAL_CODE, COMPANY_LOCATION
    - regarding the mentioned court: COURT, COURT_STREET, COURT_POSTAL_CODE, COURT_LOCATION
    - regarding mentioned notary: NOTARY, NOTARY_STREET, NOTARY_POSTAL_CODE, NOTARY_LOCATION

#### Tests
- 5 tests were carried out: 
    - 1_without_eval: Training a blank German LM without an evaluation dataset. 
    - 1_finetuned: Training on de_core_news_lg LM without an evaluation dataset. 
    - 2_with_eval: Training on a blank German LM with an evaluation dataset. 
    - 2_finetuned: Training on de_core_news_lg LM with an evaluation dataset. 
    - transformers: Training with the help of Transformers.

In [13]:
path_results_experiment1 = "/home/teppi/projects/master/results/experiment1_detailed_annotation/all_results.csv"
df1 = pd.read_csv(path_results_experiment1)
df1

                  File  Precision    Recall  F1 score
0  1_without_eval.json   0.815978  0.815247  0.815612
1     1_finetuned.json   0.814679  0.796413  0.805442
2     2_with_eval.json   0.834796  0.824813  0.829774
3     2_finetuned.json   0.810992  0.794021  0.802417
4    transformers.json   0.830873  0.807773  0.819160

### Experiment2: broader annotation
- it was iterated over the annotated documents and entities were changed to a more general approach: 
    - NOTARY_LOCATION, NAME_LOCATION, COURT_LOCATION, COMPANY_LOCATION --> LOCATION
    - NOTARY_STREET, NAME_STREET, COURT_STREET, COMPANY_STREET --> STREET
    - NOTARY_POSTAL_CODE, NAME_POSTAL_CODE, COURT_POSTAL_CODE, COMPANY_POSTAL_CODE --> POSTAL_CODE
    - BIRTH_DATE, DATE --> DATE

In [14]:
path_results_experiment2 = "/home/teppi/projects/master/results/experiment2_broader_annotation/all_results.csv"
df2 = pd.read_csv(path_results_experiment2)
df2

                  File  Precision    Recall  F1 score
0  1_without_eval.json   0.913270  0.890882  0.901937
1     1_finetuned.json   0.888584  0.870254  0.879323
2     2_with_eval.json   0.915411  0.889686  0.902365
3     2_finetuned.json   0.876588  0.866368  0.871448
4    transformers.json   0.906806  0.884305  0.895414

/home/teppi/projects/master/.venv/lib/python3.11/site-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Amtsgericht Ulm - Registergericht - Olgastraße 106..." with entities "[[0, 15, 'COURT'], [36, 50, 'COURT_STREET'], [51, ...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.

### Error Analysis
- some entities throw the error **UserWarning: [W030] Some entities could not be aligned in the text**
- build a script to see how many entities are affected

In [17]:
path_error = "/home/teppi/projects/master/results/error_analysis.json"
df3 = pd.read_json(path_error, orient="index")
df3

             warning  entities  error_percentage
count_train      259     11971          2.163562
count_test        74      3445          2.148041
count_eval        30      1639          1.830384

# TODO
- Write code more cleaner
- start writing thesis

# Wish
- find something cool to do